Install pandas if not installed. Then import pandas as pd

In [ ]:
#Install and import pandas
#!pip install pandas
import pandas as pd

# **Setting and removing indexes**

pandas allows you to designate columns as an index. This enables cleaner code when taking subsets (as well as providing more efficient lookup under some circumstances).

In this chapter, you'll be creating and exploring `temperatures`, a DataFrame of average temperatures in cities around the world. You should also load pandas as pd.

In [ ]:
# Read the sales data and print the head of the sales data
temperatures = pd.read_csv('https://github.com/datttrian/datacamp/blob/main/data-manipulation-with-pandas/temperatures.csv?raw=true', index_col=0)
print(temperatures.head())

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

The `temperatures` DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. Answer each question below in each cell.

Then you are expected to do the following two exercises:

**Instructions:**
* Look at temperatures by printing some of the first rows using `.head()` function.
* Set the index of `temperatures` to "`city`", assigning to `temperatures_ind`.
* Look at `temperatures_ind`. How is it different from `temperatures`?
* Reset the index of `temperatures_ind`, keeping its contents.
* Reset the index of `temperatures_ind`, dropping its contents.

In [ ]:
# Look at temperatures
print(____)

# Set the index of temperatures to city
temperatures_ind = ____

# Look at temperatures_ind
print(____)

# Reset the temperatures_ind index, keeping its contents
print(____)

# Reset the temperatures_ind index, dropping its contents
print(____)

# **Subsetting with `.loc[]`**

The killer feature for indexes is `.loc[]`: a subsetting method that accepts index values. When you pass it a single argument, it will take a subset of rows.

The code for subsetting using `.loc[]` can be easier to read than standard square bracket subsetting, which can make your code less burdensome to maintain.

The `temperatures` DataFrame is available as it is read in the previous cells and `temperatures_ind` indexed by city is provided at the initial code. pandas is loaded as pd as well in the first cell. Answer each question below in each cell.

Then you are expected to do the following two exercises.

**Instructions:**
* Create a list called `cities` that contains "Moscow" and "Saint Petersburg".
* Use `[] `subsetting to filter temperatures for rows where the city column takes a value in the `cities` list.
* Use `.loc[]` subsetting to filter `temperatures_ind` for rows where the `city` is in the `cities` list.

In [ ]:
# Create temperatures_ind using city as index
temperatures_ind = temperatures.set_index("city")
# Make a list of cities to subset on
cities = ["____", "____"]

# Subset temperatures using square brackets
print(temperatures[____])

# Subset temperatures_ind using .loc[]
print(temperatures_ind.loc[____])

# **Setting multi-level indexes**

Indexes can also be made out of multiple columns, forming a multi-level index (sometimes called a hierarchical index). There is a trade-off to using these.

The benefit is that multi-level indexes make it more natural to reason about nested categorical variables. For example, in a clinical trial, you might have control and treatment groups. Then each test subject belongs to one or another group, and we can say that a test subject is nested inside the treatment group. Similarly, in the `temperature` dataset, the city is located in the country, so we can say a `city` is nested inside the `country`.

The main downside is that the code for manipulating indexes is different from the code for manipulating columns, so you have to learn two syntaxes and keep track of how your data is represented.

The `temperatures` DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. Answer each question below in each cell.

Then you are expected to do the following two exercises:

**Instructions:**
* Set the index of `temperatures` to the "`country`" and "`city`" columns, and assign this to `temperatures_ind`.
* Specify two country/city pairs to keep: "`Brazil"/"Rio De Janeiro`" and "`Pakistan"/"Lahore`", assigning to `rows_to_keep`.
* Print and subset `temperatures_ind` for `rows_to_keep` using `.loc[]`.

In [ ]:
# Index temperatures by country & city
temperatures_ind = ____

# List of tuples: Brazil, Rio De Janeiro & Pakistan, Lahore
rows_to_keep = [____]

# Subset for rows to keep
print(temperatures_ind.____)

# **Sorting by index values**

Previously, you changed the order of the rows in a DataFrame by calling .`sort_values()`. It's also useful to be able to sort by elements in the index. For this, you need to use `.sort_index()`.

The `temperatures` DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. `temperatures_ind` has a multi-level index of `country` and `city`, and is available as it is created in the above cell. Answer each question below in each cell.

Then you are expected to do the following two exercises:

**Instructions:**
* Sort `temperatures_ind` by the index values.
* Sort `temperatures_ind` by the index values at the "`city`" level.
* Sort `temperatures_ind` by ascending `country` then descending `city`.

In [ ]:
# Sort temperatures_ind by index values
print(____)

# Sort temperatures_ind by index values at the city level
print(____)

# Sort temperatures_ind by country then descending city
print(____)

# **Slicing index values**

Slicing lets you select consecutive elements of an object using first:last syntax. DataFrames can be sliced by index values or by row/column number; we'll start with the first case. This involves slicing inside the `.loc[]` method.

Compared to slicing lists, there are a few things to remember.
* You can only slice an index if the index is sorted (using `.sort_index()`).
* To slice at the outer level, first and last can be strings.
* To slice at inner levels, first and last should be tuples.
* If you pass a single slice to `.loc[]`, it will slice the rows.

The `temperatures` DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. `temperatures_ind` has a multi-level index of country and city, and is available as it is created in the above cell. Answer each question below in each cell.

**Instructions:**
* Sort the index of `temperatures_ind`.
* Use slicing with `.loc[]` to get these subsets:
    * from `Pakistan` to `Russia`.
    * from `Lahore` to `Moscow`. (This will return nonsense.)
    * from `Pakistan`, `Lahore` to `Russia`, `Moscow`.

In [ ]:
# Sort the index of temperatures_ind
temperatures_srt = temperatures_ind.sort_index()

# Subset rows from Pakistan to Russia
print(____)

# Try to subset rows from Lahore to Moscow
print(____)

# Subset rows from Pakistan, Lahore to Russia, Moscow
print(____)

# **Slicing in both directions**

You've seen slicing DataFrames by rows and by columns, but since DataFrames are two-dimensional objects, it is often natural to slice both dimensions at once. That is, by passing two arguments to `.loc[]`, you can subset by rows and columns in one go.

The `temperatures` DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. `temperatures_srt` has a multi-level index of country and city, and is available as it is created in the above cell. Answer each question below in each cell.

**Instructions:**
* Use `.loc[]` slicing to subset rows from `India`, `Hyderabad` to `Iraq`, `Baghdad`.
* Use `.loc[]` slicing to subset columns from `date` to `avg_temp_c`.
* Slice in both directions at once from `Hyderabad` to `Baghdad`, and `date` to `avg_temp_c`.

In [ ]:
# Subset rows from India, Hyderabad to Iraq, Baghdad
print(____)

# Subset columns from date to avg_temp_c
print(____)

# Subset in both directions at once
print(____)

# **Slicing time series**

Slicing is particularly useful for time series since it's a common thing to want to filter for data within a date range. Add the date column to the index, then use `.loc[]` to perform the subsetting. The important thing to remember is to keep your dates in ISO 8601 format, that is, "yyyy-mm-dd" for year-month-day, "yyyy-mm" for year-month, and "yyyy" for year.

Recall that you can combine multiple Boolean conditions using logical operators, such as `&`. To do so in one line of code, you'll need to add parentheses `()` around each condition.

The `temperatures` DataFrame is available (not indexed) as it is read in the previous cells and and pandas is loaded as pd as well in the first cell.

**Instructions:**
* Use Boolean conditions, not `.isin()` or `.loc[]`, and the full date `"yyyy-mm-dd"`, to subset `temperatures` for rows in `2010` and `2011` and print the results.
* Set the index of `temperatures` to the date column and sort it.
* Use `.loc[]` to subset `temperatures_ind` for rows in `2010` and `2011`.
* Use `.loc[]` to subset `temperatures_ind` for rows from `Aug 2010` to `Feb 2011`.

In [ ]:
# Use Boolean conditions to subset temperatures for rows in 2010 and 2011
temperatures_bool = ____[(____ >= ____) & (____ <= ____)]
print(temperatures_bool)

# Set date as the index and sort the index
temperatures_ind = temperatures.____.____

# Use .loc[] to subset temperatures_ind for rows in 2010 and 2011
print(____)

# Use .loc[] to subset temperatures_ind for rows from Aug 2010 to Feb 2011
print(____)

# **Subsetting by row/column number**

The most common ways to subset rows are the ways we've previously discussed: using a Boolean condition or by index labels. However, it is also occasionally useful to pass row numbers.

This is done using `.iloc[]`, and like `.loc[]`, it can take two arguments to let you subset by rows and columns.

The `temperatures` DataFrame is available (not indexed) as it is read in the previous cells and and pandas is loaded as pd as well in the first cell.

**Intructions:**
Use `.iloc[]` on temperatures to take subsets.
* Get the 23rd row, 2nd column (index positions 22 and 1).
* Get the first 5 rows (index positions 0 to 5).
* Get all rows, columns 3 and 4 (index positions 2 to 4).
* Get the first 5 rows, columns 3 and 4.

In [ ]:
# Get 23rd row, 2nd column (index 22, 1)
print(____)

# Use slicing to get the first 5 rows
print(____)

# Use slicing to get columns 3 to 4
print(____)

# Use slicing in both directions at once
print(____)

# **Pivot temperature by city and year**

It's interesting to see how temperatures for each city change over time—looking at every month results in a big table, which can be tricky to reason about. Instead, let's look at how temperatures change by year.

You can access the components of a date (year, month and day) using code of the form `dataframe["column"].dt.component`. For example, the month component is `dataframe["column"].dt.month`, and the year component is `dataframe["column"].dt.year`.

Once you have the year column, you can create a pivot table with the data aggregated by city and year, which you'll explore in the coming exercises.

The `temperatures` DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell.

**Intructions:**
* Add a `year` column to `temperatures`, from the year component of the `date` column.
* Make a pivot table of the `avg_temp_c` column, with `country` and `city` as rows, and `year` as columns. Assign to `temp_by_country_city_vs_year`, and look at the result.

In [ ]:
# Add a year column to temperatures
temperatures['date'] = pd.to_datetime(temperatures['date'])
temperatures['year'] = temperatures['date'].dt.year
# Pivot avg_temp_c by country and city vs year
temp_by_country_city_vs_year = temperatures.pivot_table('avg_temp_c', index=['country', 'city'], columns='year')

# See the result
print(temp_by_country_city_vs_year)

year                                 2000       2001       2002       2003  \
country       city
Afghanistan   Kabul             15.822667  15.847917  15.714583  15.132583
Angola        Luanda            24.410333  24.427083  24.790917  24.867167
Australia     Melbourne         14.320083  14.180000  14.075833  13.985583
              Sydney            17.567417  17.854500  17.733833  17.592333
Bangladesh    Dhaka             25.905250  25.931250  26.095000  25.927417
...                                   ...        ...        ...        ...
United States Chicago           11.089667  11.703083  11.532083  10.481583
              Los Angeles       16.643333  16.466250  16.430250  16.944667
              New York           9.969083  10.931000  11.252167   9.836000
Vietnam       Ho Chi Minh City  27.588917  27.831750  28.064750  27.827667
Zimbabwe      Harare            20.283667  20.861000  21.079333  20.889167

year                                 2004       2005       2006       2007  \
country       city
Afghanistan   Kabul             16.128417  14.847500  15.798500  15.518000
Angola        Luanda            24.216167  24.414583  24.138417  24.241583
Australia     Melbourne         13.742083  14.378500  13.991083  14.991833
              Sydney            17.869667  18.028083  17.749500  18.020833
Bangladesh    Dhaka             26.136083  26.193333  26.440417  25.951333
...                                   ...        ...        ...        ...
United States Chicago           10.943417  11.583833  11.870500  11.448333
              Los Angeles       16.552833  16.431417  16.623083  16.699917
              New York          10.389500  10.681417  11.519250  10.627333
Vietnam       Ho Chi Minh City  27.686583  27.884000  28.044000  27.866667
Zimbabwe      Harare            20.307667  21.487417  20.699750  20.746250

year                                 2008       2009       2010       2011  \
country       city
Afghanistan   Kabul             15.479250  15.093333  15.676000  15.812167
Angola        Luanda            24.266333  24.325083  24.440250  24.150750
Australia     Melbourne         14.110583  14.647417  14.231667  14.190917
              Sydney            17.321083  18.175833  17.999000  17.713333
Bangladesh    Dhaka             26.004500  26.535583  26.648167  25.803250
...                                   ...        ...        ...        ...
United States Chicago           10.242417  10.298333  11.815917  11.214250
              Los Angeles       17.014750  16.677000  15.887000  15.874833
              New York          10.641667  10.141833  11.357583  11.272250
Vietnam       Ho Chi Minh City  27.611417  27.853333  28.281750  27.675417
Zimbabwe      Harare            20.680500  20.523833  21.165833  20.781750

year                                 2012       2013
country       city
Afghanistan   Kabul             14.510333  16.206125
Angola        Luanda            24.240083  24.553875
Australia     Melbourne         14.268667  14.741500
              Sydney            17.474333  18.089750
Bangladesh    Dhaka             26.283583  26.587000
...                                   ...        ...
United States Chicago           12.821250  11.586889
              Los Angeles       17.089583  18.120667
              New York          11.971500  12.163889
Vietnam       Ho Chi Minh City  28.248750  28.455000
Zimbabwe      Harare            20.523333  19.756500

[100 rows x 14 columns]

# **Subsetting pivot tables**

A pivot table is just a DataFrame with sorted indexes, so the techniques you have learned already can be used to subset them. In particular, the `.loc[]` + slicing combination is often helpful.

The `temp_by_country_city_vs_year` pivot table DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. Do the following exercises based this.

**Intructions: **

Use `.loc[]` on `temp_by_country_city_vs_year` to take subsets.
* From `Egypt` to `India`.
* From `Egypt, Cairo` to `India, Delhi`.
* From `Egypt, Cairo` to `India, Delhi`, and `2005` to `2010`.

In [ ]:
# Subset for Egypt to India
____

# Subset for Egypt, Cairo to India, Delhi
____

# Subset for Egypt, Cairo to India, Delhi, and 2005 to 2010
____

# **Calculating on a pivot table**

Pivot tables are filled with summary statistics, but they are only a first step to finding something insightful. Often you'll need to perform further calculations on them. A common thing to do is to find the rows or columns where the highest or lowest value occurs.

Recall previous sections that you can easily subset a Series or DataFrame to find rows of interest using a logical condition inside of square brackets. For example: `series[series > value].`

The `temp_by_country_city_vs_year` pivot table DataFrame is available as it is read in the previous cells and and pandas is loaded as pd as well in the first cell. Do the following exercises based this.

**Intructions: **
* Calculate the mean `temperature` for each year, assigning to `mean_temp_by_year`.
* Filter `mean_temp_by_year` for the `year` that had the highest mean temperature.
* Calculate the mean temperature for each city (across columns), assigning to `mean_temp_by_city`.
* Filter `mean_temp_by_city` for the `city` that had the lowest mean temperature.

In [ ]:
# Get the worldwide mean temp by year
mean_temp_by_year = temp_by_country_city_vs_year.____

# Filter for the year that had the highest mean temp
print(mean_temp_by_year[____])

# Get the mean temp by city
mean_temp_by_city = temp_by_country_city_vs_year.____

# Filter for the city that had the lowest mean temp
print(mean_temp_by_city[____])